@charset "utf-8";

/* 앱 다운로드 */
.another_app_list{overflow:hidden;background:#fff}
.another_app_list li{float:left;width:50%}
.another_app_list li a{position:relative;display:block;height:23px;padding:7px 0;text-indent:-9999em}
.another_app_list li a:before{position:absolute;content:"";top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat;background-size:300px}
.another_app_list li.btn_app_smart a:before{width:89px;height:23px;background-position:-180px 0}
.another_app_list li.btn_app_social a:before{width:100px;height:23px;background-position:-180px -25PX}

/* 광고배너 */
.aside_bnr{position:relative;margin:8px 0;text-align:center}
.aside_bnr img{width:100%;max-width:480px}

/* (구) 푸터 - 신규푸터 적용후 삭제 */
.footer{background:#f2f7ff;padding:10px;color:#999999;font-size:12px;line-height:16px;letter-spacing:-.12px;box-sizing:border-box;width:auto;float:none}
.footer p{color:#999999}
.footer p + p{margin-top:10px}
.footer .txt_tit,
.footer .txt_company_name{display:block;font-size:12px;color:#666;line-height:17px;margin-bottom:2px;letter-spacing:-.6px}
.footer .footer_menu{background:#fff;border:1px solid #e7edf7;width:100%;box-sizing:border-box;/* display:flex;flex-direction:row;justify-content :space-around; */padding:8px 0;font-size:11px;text-align:center;letter-spacing:-.5px}
.footer .footer_menu a{display:inline-block;color:#999;height:12px;line-height:12px;padding:0 10px;border-left:1px solid #ddd}
.footer .footer_menu a:first-child{border:0}
.footer .footer_menu a:nth-child(2){font-weight:bold}

/* 200609 [MW] 푸터 개선건 */
.footer--com{padding:16px;position:relative;background-color:#f6f6f6;font-size:14px;letter-spacing:-.5px;text-align:center;color:#222}
.footer--com .footer__info{padding:12px 0 0}
.footer--com .footer__tx_com{width:100%;border:0;outline:none;height:22px;line-height:22px;text-align:center;display:block;margin-bottom:12px;background:#f6f6f6;font-size:14px}
.footer--com .footer__tx_com .ico_farr{width:14px;height:14px;display:inline-block;vertical-align:middle;border:1px solid #ddd;border-radius:50%;margin-left:2px;position:relative}
.footer--com .footer__tx_com .ico_farr:after{content:"";position:absolute;width:5px;height:5px;border:1px solid #aaa;border-left:0;border-top:0;top:35%;left:50%;-webkit-transform:translate(-50%,-25%) rotate(45deg);-ms-transform:translate(-50%,-25%) rotate(45deg);transform:translate(-50%,-25%) rotate(45deg);-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center}
.footer--com .footer__tx_com.unfold .ico_farr:after{-webkit-transform:translate(-50%,0) rotate(-135deg);-ms-transform:translate(-50%,0) rotate(-135deg);transform:translate(-50%,0) rotate(-135deg);-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center}
.footer--com .footer__tx_com.unfold + .footer__info_com{display:block}
.footer--com .footer__info_com{display:none;max-width:320px;background-color:#efefef;line-height:20px;padding:12px 22px;position:relative;font-size:11px;margin:0 auto 16px}
.footer--com .footer__info_com dt{position:absolute;color:#888}
.footer--com .footer__info_com dd{position:relative;padding-left:85px;text-align:left;}
.footer--com .footer__menu a{display:inline-block;position:relative;color:#222}
.footer--com .footer__menu a:before{content:"";position:absolute;top:8px;bottom:8px;left:0;border-left:1px solid #dfdfdf}
.footer--com .footer__menu a strong{font-weight:bold}
.footer--com .footer__menu_top{height:30px;line-height:30px}
.footer--com .footer__menu_top a{line-height:30px;font-size:13px;padding:0 12px 0 13px;}
.footer--com .footer__menu_top a:first-child:before{display:none}
.footer--com .footer__menu_bot{margin-top:8px}
.footer--com .footer__menu_bot a{line-height:28px;font-size:12px;padding:0 8px 0 9px;color:#555}
.footer--com .footer__menu_bot a:first-child:before{display:none}
.footer--com .footer__tx_noti{display:block;font-size:11px;color:#aaa;line-height:15px;padding-bottom:12px}

/* 탑버튼 관련 */
#s3dpop_wrap_div{z-index:11 !important}
.newquick{position:fixed; right:10px; bottom:52px; z-index:100}
.newquick p{cursor:pointer; background:url(http://img.enuri.info/images/mobilefirst/btn_top.png) -9999em -9999em no-repeat; background-size:40px 83px; display:block; width:40px; height:40px; margin-top:3px}
.newquick .cateBtn{width:40px; height:40px; background-position:0 0; margin-bottom:3px; text-indent:-9999em; }
.newquick .TBtn{width:40px; height:41px; background-position:0 -42px; text-indent:-9999em;display:none}
