@charset "utf-8";

/* 기존 네비 */
.mainTop_sub{position:static}
nav h2{z-index:100; background:#0072bb; border-bottom:1px solid #051d49; height:26px; color:#ffffff; font-size:15px; font-weight:normal; padding:9px 10px 0 25px; position:relative; text-align:center;}
nav h2 span{display:inline-block; max-width:80%; overflow:hidden; height:24px; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
nav h2 .back{background:url(http://img.enuri.info/images/m_home/icon_pack.png) no-repeat -186px -193px; background-size: 250px 400px; width:9px; height:15px; margin:10px; position:absolute; left:0; top:0; text-indent:-9999em;}
nav h2 .android{background-position:12px -13px;}
nav h2 em{font-size:10px; vertical-align:-2px; }
nav h2 .tip{position:absolute; right:11px; top:13px; width:54px; height:16px; background:url(http://img.enuri.info/images/mobilefirst/h2_tip.png) 0 0 no-repeat; background-size:54px 16px; text-indent:-9999em}
nav h2.a_center{text-align:center; text-indent:-15px;}

nav.new_m_top_sub {z-index: 9999;position: relative;}
nav.new_m_top_sub.m_fixed{-webkit-box-shadow:none;box-shadow:none;position:fixed}
nav.new_m_top_sub h2 {height:27px; padding:10px 10px 10px 45px; border-bottom:1px solid #7f8a97; color:#333; text-align:left; vertical-align:middle; line-height:27px; text-indent:0; background:#fff}
nav.new_m_top_sub h2 .back {position:absolute; top:16px; left:12px; width:17px; height:16px; margin:0; background:url(http://img.enuri.info/images/m_home/icon_pack_vip2.png) no-repeat -40px -20px; background-size:300px;}
nav.new_m_top_sub button {z-index:100; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/m_home/icon_pack_vip2.png) no-repeat; background-size:300px;}
nav.new_m_top_sub .srp {position:absolute; top:13px; right:46px; width:23px; height:23px; background-position:-127px -45px;}
nav.new_m_top_sub .mybtn {position:absolute; top:14px; right:10px; width:24px; height:21px; background:url(http://img.enuri.info/images/m_home/icon_pack_gnb.png) -75px 0 no-repeat; background-size:300px;}

/* 20190321 new - gnb */
nav.new_m_top_sub h2{/* background:url(http://img.enuri.info/images/mobile_v2/bg_header.jpg) repeat-y 50% 0;background-size:100% auto; */border-bottom:2px solid rgba(255,255,255,.1);color:#fff;font-size:18px;letter-spacing:-1.22px;padding-left:10px;text-align:center}
nav.new_m_top_sub h2{background-image: -webkit-gradient(linear,left top, right top,from(#30a7f7) ,to(#2d83ed));background-image: -webkit-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: -o-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: linear-gradient(to right,#30a7f7 ,#2d83ed);}
nav.new_m_top_sub h2 .back{position: absolute;top:15px;left:10px;width:20px;height:20px;margin:0;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) no-repeat -40px 0px;background-size:300px;}
nav.new_m_top_sub .srp{position:absolute;top:15px;right:40px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) -20px 0 no-repeat;background-size: 300px;}
nav.new_m_top_sub .mybtn{position:absolute;top:15px;right:10px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) 0 0 no-repeat;background-size: 300px;}
nav.new_m_top_sub .closebtn{position:absolute;top:15px;right:10px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) -60px 0 no-repeat;background-size: 300px;}

/* VIP 내 전체 팝업 헤더 */
header.pop_header{position:fixed;top:0;left:0;width:100%;z-index:100}
header.pop_header h2{height:27px; padding:10px 10px;vertical-align:middle; line-height:29px;border-bottom:2px solid rgba(255,255,255,.1);color:#fff;font-size:18px;letter-spacing:-1.22px;padding-left:10px;text-align:center;font-weight: normal;background-image: -webkit-gradient(linear,left top, right top,from(#30a7f7) ,to(#2d83ed));background-image: -webkit-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: -o-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: linear-gradient(to right,#30a7f7 ,#2d83ed);}
header.pop_header h2 .back{position: absolute;top:15px;left:10px;width:20px;height:20px;margin:0;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) no-repeat -40px 0px;background-size:300px;}
header.pop_header .closebtn{position:absolute;top:15px;right:10px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_gnb.png) -60px 0 no-repeat;background-size: 300px;text-indent:-9999em}

/* new mobile 전체헤더 신규 */
header.m_header{position:relative;background-image: -o-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: -webkit-gradient(linear,left top, right top,from(#30a7f7) ,to(#2d83ed));background-image: linear-gradient(to right,#30a7f7 ,#2d83ed);padding:0 10px;-webkit-box-sizing: border-box;box-sizing: border-box;width:100%;}
header.m_header.fixed_top{position:fixed;top:0;left:0;z-index: 100}
header.m_header .header_wrap{position:relative;padding:13px 0}
header.m_header .header_wrap button{margin:0;padding:0;border:0;outline:0;position: absolute;width:24px;height:24px;text-indent:-9999em}
header.m_header .header_wrap h1.m_symbol{width:76px;height:24px;margin:0 auto;background-position:0 -26px;text-indent:-9999em}
header.m_header .header_wrap h1.m_txt{text-align:center;/* padding-left:38px;padding-right:60px; */margin:0 60px;box-sizing: border-box;font-size:18px;height:24px;line-height:24px;letter-spacing: -1px;color:#fff;font-weight: normal;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
header.m_header.head__type_c .header_wrap{text-align:center;font-size:0}
header.m_header.head__type_c .header_wrap h1.m_txt{position:relative;display:inline-block;max-width:calc(100% - 60px);margin:0 auto;padding:0 30px 0}
header.m_header.head__type_c .header_wrap h1.m_txt:after{content:"";position: absolute;top:0;right:0;width:24px;height:24px;background-image:url(http://img.enuri.info/images/mobile_v2/common_sprite.png);background-repeat:no-repeat;background-size:360px;background-position:-125px -185px}
header.m_header .header_wrap h2{text-align:center;font-size:18px;color:#fff;line-height:24px;letter-spacing: -1px;font-weight: normal}
header.m_header .header_wrap .btn_hd_home{width:24px;height:24px;background-position: -49px -158px;left:34px;top:13px}
header.m_header .header_wrap .btn_hd_cate{background-position: 0 -185px;left:0;top:13px}
header.m_header .header_wrap .btn_hd_my{background-position: -25px -185px;top:13px;right:0}
header.m_header .header_wrap .btn_hd_back{background-position: -75px -185px;left:0;top:13px}
header.m_header .header_wrap .btn_hd_close,
header.m_header .header_wrap .btn_dt_close{background-position: -100px -185px;top:13px;right:0}
header.m_header .header_wrap .btn_hd_sr{position: absolute;top:13px;right:34px;background-position: -50px -185px}
header.m_header .search_wrap{padding:0 0 12px}
header.m_header .header_wrap .ico_hd_ad{position: absolute;width:24px;height:12px;background-position:-115px -190px;top:50%;right:0px;margin-top:-6px;text-indent:-9999em}
header.m_header .search_wrap .btn_lay_sr{position:relative;display:block;background-color:#fff;height:40px;border-radius:4px 4px;}
header.m_header .search_wrap .btn_lay_sr:after{content:"";position: absolute;width:24px;height:24px;top:8px;right:10px;background-image:url(http://img.enuri.info/images/mobile_v2/common_sprite.png);background-repeat:no-repeat;background-size:360px;background-position:-125px -210px}
header.m_header.m_header_sub{position:fixed;right:0;left:0;z-index:100}
header.m_header.m_header_sub.shadow{-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.05);box-shadow: 0 3px 3px rgba(0,0,0,.05)}
header.m_header.m_header_sub h1.m_txt{margin:0 30px}
/* header.m_header.m_header_sub h1.m_txt{text-align:center;} */

/* 카테고리 없는 헤더 */
header.m_header.no_cate .header_wrap .btn_hd_cate{display:none}
header.m_header.no_cate .header_wrap .btn_hd_home{left:0}

/* 흰색헤더 */
header.m_header.header_white{background:#fff;border-bottom:1px solid #697381}
header.m_header.header_white .header_wrap h1.m_txt{color:#333}
header.m_header.header_white .header_wrap .btn_hd_home{background-position:-150px -160px}
header.m_header.header_white .header_wrap .btn_hd_my{background-position:-175px -160px}