@charset "utf-8";
html {height:100%;font-size:10px;}
body {position:relative;height:100%;margin:0;padding:0;background-color:#F5F5F5;-webkit-font-smoothing:antialiased;}
a {text-decoration: none;}
a,button {outline: none;}
button { border:none; cursor: pointer;}
.wrapper {overflow:hidden;width:100%;max-width:36rem;height:100% !important;height:100%;margin:0 auto;}

.visual {overflow:hidden;position:relative;height:100%;background:url(../imgs/visual_bg.png) top center repeat;background-size:cover}
.visual .obj {display:block; opacity: 0; transition: all 4s;}
.visual .obj.start {opacity: 1; }

.visual .obj-envelope {position:relative;top:-20px;width:100%;height:278px;background:url(../imgs/obj_envelope.png) top center no-repeat;}


.visual .obj-pang {position:absolute;top:-217px;left:-6px;width:419px;height:217px;background:url(../imgs/obj_pang.png) top center no-repeat;}
.visual .obj-pang.start {top:-35px;}

.visual .obj-stamp {position:absolute;top:171px;left:50%;width:162px;height:153px;transform:translateX(-50%);background:url(../imgs/obj_stamp@x2.png) top center no-repeat;}
.visual .obj-mark {position:absolute;top:21.5rem;left:50%;width:48px;height:57px;transform:translateX(-40%) scale(5);;font-size:0;text-indent:-9999px;background:url(../imgs/obj_mark@x2.png) top center no-repeat; }
.visual .obj-mark.start {
    transform: translateX(-40%) scale(1);
}

.visual .tx_msg {display:block;margin:90px auto 0;font-size:18px;line-height:24px;letter-spacing:-.4px;color:#222;text-align:center}

/* 수정전
.btn.btn-down {display:block;position:absolute;bottom:148px;left:50%; margin-left:-16px; width:32px;height:32px;font-size:0;text-indent:-9999px;background:url(../imgs/btn_next.png) 50% 50% no-repeat; animation: 1s linear infinite both arrow_down;}
.btn.btn-login {display:block;position:absolute;bottom:44px;left:0;right:0;width:calc(100% - 32px);height:56px;margin:0 16px;border-radius:6px;font-size:18px;letter-spacing:-.4px;text-align:center;color:#fff;line-height:56px;vertical-align:middle;background-color:#222222}
.visual .btn.btn-down {bottom:162px;}
*/

.fixed_area {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding:0 0 15px;
}
.btn.btn-down {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../imgs/btn_next.png) 50% 50% no-repeat;
    animation: 1s linear infinite both arrow_down;
}
.btn.btn-login {
    display: block;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: -.4px;
    text-align: center;
    color: #fff;
    background-color: #222222;}


/* animation */
@keyframes arrow_down {
    from {opacity: .2; transform: translateY(-40px);}
    to {opacity: 1;transform: translateY(0);}
}

.main {width:100%;margin:0 auto;}
.main section {overflow:hidden;}
.main section .page_container {position:relative;width:100%;height:100%;margin:0 auto;z-index:3;}
.main section .page_container .page_cont {position:absolute;top:45%;left:0;right:0;width:100%;transform:translateY(-50%);text-align:center;}
.main section .page_container .page_cont img {width:auto;height:auto;vertical-align:top}
.main section .page_container .page_cont .tx_msg {display:block;margin:12px auto;font-size:18px;color:#222;letter-spacing:-.4px;line-height:24px;}

.onepage-pagination {display: none;}

.bg_object {}
.bg_object .obj:nth-child(odd) {
    position:fixed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-name: obj_effect_odd;
}
/* animation */
@keyframes obj_effect_odd {
    0% {opacity: 0; transform: translateY(0) rotate3d(1,1,1,45deg);}
    25% {opacity: 1;}
    50% {transform: translateY(300px)  rotate3d(1,1,1,360deg);}
    100% {opacity: 0;transform: translateY(600px) rotate3d(1,1,1,720deg);}
}

.bg_object .obj:nth-child(even) {
    position:fixed;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-name: obj_effect_even;
}
/* animation */
@keyframes obj_effect_even {
    0% {opacity: 0; transform: translateY(0) rotate3d(1,1,1,45deg);}
    25% {opacity: 1;}
    50% {transform: translateY(200px)  rotate3d(1,1,1,360deg);}
    100% {opacity: 0;transform: translateY(500px) rotate3d(1,1,1,720deg);}
}


.bg_object .obj:after {
    content:"";
    position:absolute;
    top:50%;
    left:50%;
    width: 1px;
    height: 1px;
    background: #fff;
    box-shadow: 0 0 25px 5px rgba(223, 190, 106,.8);
}